body {
    background-color: #f4f5f6;
    font-family: "Roboto Condensed", sans-serif;
}

main {
    padding-top: 20px;
}

li {
    list-style-type: none;
}

.container {
    max-width: 1310px;
    background-color: white;
}

.container-fluid {
    max-width: 1310px;
    background-color: white;
    padding-right: 30px;
    padding-left: 30px;
}

.header-top {
    background-color: #f72210;
    color: white;
    fill: white;
    padding: 5px 0;
}

.logo-wrapper {
    padding-bottom: 5px;
}

.logo {
    width: 132px;
    height: 20px;
}

@media screen and (min-width:992px) {
    .logo {
        width: 396px;
        height: 60px;
    }
    .header-top {
        padding: 20px 10px 15px 10px;
    }
}

.login {
    font-weight: 700;
    padding: 0 15px;
    margin: 4px 0;
    font-size: 18px;
}

.subscribe-btn {
    margin-right: 14px;
    margin-left: 10px;
    border-radius: 24px;
    font-weight: 700;
    font-size: 18px;
    background-color: #ffe400;
    color: #000000;
    padding: 0 15px;
    margin: 4px 8px 4px 10px;
    white-space: nowrap;
}

.topics-nav {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.topics-nav::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}

#navbarNav {
    padding: 0;
    margin: 0;
}

#navbarNav li {
    flex-grow: 1;
    display: block;
    border-right: 1px solid #d9d9d9;
    text-align: center;

}

#navbarNav li:last-child {
    border: none;
}

#navbarNav .nav-link {
    display: inline-block;
    color: #000000;
    font-weight: 700;
    font-size: 19px;
    padding: 0;
}

#navbarNav span {
    color: #ffffff;
}

#navbarNav .nav-link:hover {
    color: #f72210;
}

.trending-topics {
    border-top: 2px solid rgb(244, 245, 247);
    border-bottom: 2px solid rgb(244, 245, 247);
}

.trending-topics .disabled {
    color: black;
}

.trending-topics a {
    color: #807f84;
    font-weight: 700;
    font-size: 16px;
    flex: none;
}

.trending-topics a:hover {
    color: #f72210;
}

#search {
    border: none;
    font-size: 16px;
    font-family: arial;
}

/* Top stories styling */

.top-stories-header {
    color: rgba(3, 3, 3, .4);
    font-weight: 700;
    font-size: 16px;
}

.featured-story {
    padding-bottom: 20px;
}

.featured-story-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 5px;
    color: black;
}

.featured-story-title:hover {
    cursor: pointer;
    text-decoration: underline #f72210;
}

.image-wrapper {
    position: relative;
}

.featured-story-image {
    position: relative;
    padding-bottom: 67%;
}

.img-fluid {
    position: absolute;
    width: 100%;
}

.category {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 15px 9px;
    color: #f72210;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
}

.featured-story-summary {
    font-family: arial;
    font-size: 15px;
    color: #333333;
    font-weight: 400;
}

.sponsored-category {
    color: #3581f4;
}

.sponsored-content {
    border: 1px solid #e6e6e6;
    padding: 20px;
}

/* Top story styling */

.top-story-image {
    position: relative;
    padding-bottom: 62%;
}

.my-turn-wrapper {
    margin-left: -10px;
    margin-right: -10px;
}


.my-turn-article {
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
}

.my-turn-image {
    padding-bottom: 100%;
}

.my-turn-caption {
    padding-top: 15px;
    padding-bottom: 20px;
}
