body {
    background-color: #f4f5f6;
    font-family: "Roboto Condensed", sans-serif;
}

li {
    list-style-type: none;
}

.container-fluid {
    max-width: 1310px;
    background-color: white;
}

.header-top {
    background-color: #f72210;
    color: white;
    fill: white;
    padding: 20px 10px 15px 10px;
}

.login {
    font-weight: 700;
    padding: 0 15px;
    margin: 4px 0;
    font-size: 18px;
}

.subscribe-btn {
    margin-right: 14px;
    margin-left: 10px;
    border-radius: 24px;
    font-weight: 700;
    font-size: 18px;
    background-color: #ffe400;
    color: #000000;
    padding: 0 15px;
    margin: 4px 8px 4px 10px;
}

.navbar {
    padding: 15px 0;
}

#navbarNav li {
    flex-grow: 1;
    display: block;
    border-right: 1px solid #d9d9d9;
    text-align: center;

}

#navbarNav li:last-child {
    border: none;
}

#navbarNav .nav-link {
    display: inline-block;
    color: #000000;
    font-weight: 700;
    font-size: 19px;
    padding: 0;
}

#navbarNav .nav-link:hover {
    color: #f72210;
}